
<div class="end">
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false">
          Options
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
          <li><button class="dropdown-item" type="button" (click)="exportTodos()">Export Todos</button></li>
          <li><button class="dropdown-item" type="button" (click)="file_input.click()" >Import Todos</button></li>
        </ul>
      </div>
</div>

<div class="container">
    <div class="container-fluid">
        <app-add-todo (todoAdd) = "addTodo($event)" ></app-add-todo>
        <br>
        <h6> {{headingHere}}</h6>  
         
        <ul *ngFor="let todo of todos">
            <app-todo-item [todo]="todo" (todoDelete)="deleteTodo($event)" (todoCheckbox)="toggleTodo($event)"></app-todo-item>
        </ul>

    </div>

    </div>
    
        <input type="file" style="display: none;" #file_input class="form-control-file" id="file"  (change)="changeListener($event)">
    

    <!-- <div class="form-group">
        <ul>
          <li><a class="dropdown-item" (click)="file_input.click()">Action</a></li>
          <li><a class="dropdown-item" href="#">Another action</a></li>
        </ul>
        </div> -->