<nav class="navbar navbar-dark bg-light">
  <div class="container-fluid">
    <span class="navbar-text"> 
    </span>
    <div class="d-flex navbar-text"><h6 style="font-size: 15px; color: black;">{{todayNumber}}</h6></div>
  </div>
</nav>
      <br>

    <!-- Remove the container if you want to extend the Footer to full width. -->
    <app-todos></app-todos>
    <footer class="footer mt-auto py-3 bg-light">
      <div class="container">
        <span class="text-muted"><div>Icons made by <a href="https://www.flaticon.com/authors/smashicons" title="Smashicons">Smashicons</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div></span>
      </div>
    </footer>
<!-- End of .container -->
