<form (ngSubmit)="onSubmit()" style="width: 50%;">
    <div class="mb-3">
      <label for="title" class="form-label">Title</label>
      <input type="text" class="form-control" id="title"name="title" [(ngModel)]="title" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
      <label for="desc" class="form-label">Derscription</label>
      <textarea type="text" class="form-control" id="desc"  [(ngModel)]="desc" name="desc"></textarea>
    </div>
    <button type="submit" class="btn btn-dark">Add</button>
  </form>